# Security Settings
SECRET_KEY=sekretny_klucz_6_7
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*# unuń * dodaj: web,127.0.0.1:8000

# PostgreSQL Database Configuration
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1 # zmienić na db
DB_PORT=5432
MODEL_NAME=gemma4:e2b