# Security Settings
SECRET_KEY=sekretny_klucz_6_7
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*

# PostgreSQL Database Configuration
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
