Django>=5.0,<6.0
djangorestframework>=3.15,<4.0
psycopg2-binary>=2.9,<3.0

python-dotenv>=1.0,<2.0
Pillow>=10.0,<11.0

pytest>=8.0,<9.0
pytest-django>=4.8,<5.0
factory-boy>=3.3,<4.0

fastapi>=0.100,<0.101
uvicorn>=0.34,<0.35
pydantic>=2.10,<3.0
python-multipart>=0.0.5,<0.1.0

# ML / HuggingFace (opcjonalne — dla forensics)
torch>=2.0,<3.0
transformers>=4.50,<5.0
accelerate>=1.0,<2.0
safetensors>=0.4,<1.0

# Image processing
numpy>=1.24,<3.0
opencv-python-headless>=4.8,<5.0

#pipline
celery>=5.4,<6.0
redis>=5.0,<6.0
django-celery-results==2.5.*
django-celery-beat==2.6.*